---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title="qr-generator">
	<main class="bg-slate-200 min-h-screen grid place-content-center">
		<Card />
	</main>

</Layout>

